
/*Universal Selector*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*another content-box*/
}
body {
  font-family:Arial, Helvetica, sans-serif ;
  color: #70bd93;}
  /* Nav start */
  header {
    background-color: #70bd93;
    padding: 20px 35px;
    
  }
  header h1 {
    color: yellow;
    font-weight: bold;
    font-size: 36px;
    margin:0 ;
  }

  header a {
    color: yellow;
  }
  header nav {
    float: right;
    margin: 0;
  }

  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 10
    px;

  }
  /* Nav end */
  /* Footer start*/
  footer {
    background: yellow
    width: 100% ;
    padding: 40px 35px;
  }

  footer h2 {
    display: inline;
    color: rgb(24, 80, 129);
    font-size: 30px;
    margin: 0;
  }
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }

  footer a {
    color: rgb(24, 80, 129);
  }
  /* Footer end*/
  /* Hereo Section start*/
  sec